(security_headers) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}

{$SELFAD_PUBLIC_DOMAIN} {
	encode zstd gzip
	import security_headers
	reverse_proxy selfad:8000
}

{$SELFAD_GITEA_DOMAIN} {
	encode zstd gzip
	import security_headers
	forward_auth selfad:8000 {
		uri /internal/gitea-public-access
	}
	reverse_proxy selfad:8929
}
